<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>마이페이지</h4>
        </div>
    </div>

    <div>
        <!--회원정보 확인-->
        <div class="my-3 border-bottom row" style="white-space: pre-line;">
            <div class="col">
                <h6>회원 정보 확인</h6>
            </div>
            <div class="col">
                <a href="/" class="btn btn-sm btn-outline-primary d-inline-flex offset-md-8" >회원 정보 확인</a>
            </div>
        </div>
        <!--내가 쓴 글-->
        <div class="my-3 border-bottom row" style="white-space: pre-line;">
            <div class="col">
                <h6>내가 쓴 글</h6>
            </div>
            <div class="col">
                <a href="/" class="btn btn-sm btn-outline-primary d-inline-flex offset-md-8" >내가 쓴 글 확인</a>
            </div>
        </div>
        <!--내가 쓴 댓글-->
        <div class="my-3 border-bottom row" style="white-space: pre-line;">
            <div class="col">
                <h6>내가 쓴 댓글</h6>
            </div>
            <div class="col">
                <a href="/" class="btn btn-sm btn-outline-primary d-inline-flex offset-md-8" >내가 쓴 댓글 확인</a>
            </div>
        </div>
    </div>

</div>
</html>